*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.title-container {
  width: 90%;
}

.title {
  font-size: 6rem;
  text-align: center;
  letter-spacing: 0.5rem;

  background-image: linear-gradient(
    to right,
    #ff0000,
    #ffff00,
    #ffa500,
    #0099ff
  );
  background-clip: text;
  color: transparent;

  width: 60rem;
  margin: 0 auto;
}

.title__text {
  font-family: "Nunito", sans-serif;
  color: #0099ff;
  font-size: 3rem;
  padding: 3rem 0;
}

.red-box {
  width: 30rem;
  height: 12rem;
  background-color: rgb(232, 81, 74);

  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.circle {
  position: absolute;
  width: 14rem;
  aspect-ratio: 1;
  background-color: #0a4f7c;
  border-radius: 50%;
  opacity: 0.05;
}

.circle-1 {
  top: 2%;
  left: 15%;
}
.circle-2 {
  height: 7rem;
  border-radius: 0;
  border-top-left-radius: 14rem;
  border-top-right-radius: 14rem;
  left: 7%;
  bottom: 25%;

  transform: rotate(45deg);
}

.udevs {
  position: absolute;
  font-size: 10rem;
  font-weight: 900;
  opacity: 0.05;
  color: #0a4f7c;

  display: flex;
  justify-content: center;

  left: 10%;
  top: 35%;
}

.udevs::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 1.5rem;
  z-index: 1;
  background-color: #0a4f7c;

  bottom: 0;
}

.dots {
  width: 15rem;
  aspect-ratio: 1;
  position: absolute;
  opacity: 0.05;
  transform: rotate(45deg);

  top: 20%;
  left: -2%;
}
